<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-8">
                <div class="shot">
                    <img src="/img/logo_300.png" alt="<%= __('hero.logo_alt') %>" class="img-responsive">
                </div>
            </div>
            <div class="col-md-8 col-md-pull-4">
                <div class="intro">
                    <p<% if (isHeroFooter) { %> class="visible-md visible-lg"<% } %>>
                        <%= __('hero.first_paragraph') %>
                    </p>
                    <p<% if (isHeroFooter) { %> class="visible-md visible-lg"<% } %>>
                        <%= __('hero.second_paragraph') %>
                    </p>
                    <p class="intro-download">
                        <a href="<%= sma.download %>" class="download">
                            <i class="fa fa-arrow-down"></i> <%= __('hero.download') %>
                            <small><%= __('hero.last_version', sma.currentVersion) %></small>
                        </a>
                    </p>
                    <p class="intro-download">
                        <a href="<%= sma.otherDownloads %>" class="btn btn-primary download-alternate">
                            <i class="fa fa-download"></i> <%= __('hero.other_versions') %>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
